<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691918461618-v31cnv9c86v1ld4e5ur7rlanjujdft37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691918461618-v31cnv9c86v1ld4e5ur7rlanjujdft37</string>
	<key>API_KEY</key>
	<string>AIzaSyAz3Am0Lab0Up2kzqfj1MEYBY5-tcKKmc4</string>
	<key>GCM_SENDER_ID</key>
	<string>691918461618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pathInternMobile</string>
	<key>PROJECT_ID</key>
	<string>path-intern</string>
	<key>STORAGE_BUCKET</key>
	<string>path-intern.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691918461618:ios:0ef5cca3771336fcbb87ab</string>
</dict>
</plist>